.signin-form{
app-ns-input{
  display: block;
}
app-ns-input[type=button]{
  display: inline-block;
}
}
.social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 105px;
}
