<section class="sign-in">
  <div class="container">
      <div class="signin-content">
          <div class="signin-image">
              <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
              <a routerLink="../register" class="signup-image-link">Create an account</a>
          </div>

          <div class="signin-form">
              <h2 class="form-title">Sign In</h2>
              <form [formGroup]="signinForm">
                <app-ns-input  formControlName="name" [label]="'Account'" [name]="'name'" [placeholder]="'Account'" [icon]="'fa-solid fa-user'" [required]="true" ></app-ns-input>
                <app-ns-input formControlName="password" [label]="'Password'" [type]="'password'" [name]="'password'" [placeholder]="'Password'" [icon]="'fa-solid fa-lock'" [required]="true" ></app-ns-input>
                <app-ns-input formControlName="remember" [type]="'checkbox'" [label]="'Remember me'" [name]="'remember'"></app-ns-input>
                <button class="sign_btn" (click)="login()" [disabled]="signinForm.invalid">Log In</button>
              </form>
              <div class="social-login">
                  <span class="social-label">Or login with</span>
                  <ul class="socials">
                      <li><a href="#"><i class="display-flex-center fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="display-flex-center fa-brands fa-twitter"></i></a></li>
                      <li><a href="#"><i class="display-flex-center fa-brands fa-google"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
