<section class="signup">
  <div class="container">
      <div class="signup-content">
          <div class="signup-form">
              <h2 class="form-title">Sign up</h2>
              <form class="register-form" id="register-form" [formGroup]="registerForm">
                  <div class="form-group">
                      <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="text" name="name" id="name" placeholder="Your Name" formControlName="name"/>
                  </div>
                  <div *ngIf="registerForm.controls['name'].invalid&&(registerForm.controls['name'].dirty||registerForm.controls['name'].touched)">
                    Please enter username
                  </div>
                  <div class="form-group">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      <input type="email" name="email" id="email" placeholder="Your Email" formControlName="email"/>
                  </div>
                  <div class="form-group">
                      <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password" name="pass" id="pass" placeholder="Password" formControlName="password"/>
                  </div>
                  <div class="form-group">
                      <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                      <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" formControlName="rePassword"/>
                  </div>
                  <div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" formControlName="agreeTerms"/>
                      <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                  </div>
                  <div class="form-group form-button">
                      <input type="button" name="signup" id="signup" class="form-submit" value="Register" (click)="register()"/>
                  </div>
              </form>
          </div>
          <div class="signup-image">
              <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
              <a routerLink="../signIn" class="signup-image-link">I am already member</a>
          </div>
      </div>
  </div>
</section>
