<div class="nsinput_container" [ngClass]="type=='button'?'d-inline-block':''">
  <ng-container *ngIf="type=='text'||type=='password'">
    <div>
  <label for="{{name}}"><i [ngClass]="icon"></i></label>
  <input (blur)="touched($event)" [(ngModel)]="nsinput" #nsinputM="ngModel"
  [type]="type" name="{{name}}" [id]="name" [placeholder]="placeholder"
  [required]="required"
  />
</div>
  <div class="nsinput_err"><div *ngIf="nsinputM?.invalid && (nsinputM.dirty || nsinputM.touched)">
    <span *ngIf="nsinputM.errors?.['required']" >{{label}} is required</span>
  </div></div>
</ng-container>
<ng-container *ngIf="type=='checkbox'">
  <div>
  <input #nsinput (change)="onChange($event)"  [type]="type" name="{{name}}" [id]="name"/>
  <label for="{{name}}"><span><span></span></span>{{label}}</label>
</div>
<div class="nsinput_err"><span></span></div>
</ng-container>
<ng-container *ngIf="type=='button'">
  <div>
  <input #nsinput  [type]="type" [value]="value"/>
</div>
</ng-container>
</div>



