.nsinput_container{
  >div{
    position: relative;
  }
  label{
    display: flex;
  }
  input[type=checkbox]{
    visibility: hidden;
  }
  input[type=button]{
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=button]:hover{
    background: #4292dc;
  }
  input[type=button]:focus{
    border: none;
  }
}
.nsinput_err{
  line-height: 25px;
  height: 25px;
  color: red;
}
