.nsinput_container{
  >div{
    position: relative;
  }
  label{
    display: flex;
    margin-left: 10px;
  }
  input[type=checkbox]{
    visibility: hidden;
  }
  input[type="checkbox"]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin: 0 !important;
    cursor: pointer;
  }
}

